p, li, ul, table th, table td {
    font-family: "Open Sans", sans-serif;
    font-size: 0.96rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}
  
th, td {
    border: 0.8px solid black;
    padding: 4px;
    text-align: left;
}
  
.disqus-container {
    margin: 0 auto;
    width: 1000px;
    padding: 50px;
    background-color: inherit;
    border-radius: 0px;
    justify-content: center;
    align-items: center;
}
  